version: "3.9"

services:
  db:
    image: mysql:8
    restart: always
    container_name: db_test
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: testIntegrate
      MYSQL_USER: myuser
      MYSQL_PASSWORD: password
      MYSQL_CHARSET: utf8mb4
      MYSQL_COLLATION: utf8mb4_unicode_ci
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
      - "4306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-pstrongpass"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: backend_test
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: frontend_test
    ports:
      - "8090:80"
    depends_on:
      - backend
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
